In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("people_analytics_start - people_analytics_start.csv")
df.head()

,employee_id,department,sub-department,first_level_manager,second_level_manager,third_level_manager,fourth_level_manager,job_level,gender,sexual_orientation,...,location_city,marital_status,employment_status,salary,hire_date,term_date,tenure,term_type,term_reason,active_status
0,5641543884,HR,Training,7.305454e+09,2.663916e+09,7.133405e+09,NaN,Individual Contributor,Female,Heterosexual,...,Los Angeles,Single,Full Time,51815,2018-12-17,NaN,49,NaN,NaN,1
1,1827262027,Software,Technical Support,3.520177e+09,1.383109e+09,4.520268e+09,NaN,Individual Contributor,Male,Heterosexual,...,Boston,Single,Full Time,81291,2016-10-14,NaN,76,NaN,NaN,1
2,8031094893,HR,Benefits,2.757247e+07,6.712864e+09,2.509047e+09,NaN,Individual Contributor,Female,Heterosexual,...,Dallas,Single,Full Time,80893,2017-08-15,NaN,66,NaN,NaN,1
3,8578520737,HR,Training,8.648367e+09,7.040763e+09,NaN,NaN,Team Lead,Male,Heterosexual,...,Denver,Married,Full Time,74519,2020-07-07,NaN,30,NaN,NaN,1
4,7581210340,HR,Recruiting,2.609320e+08,5.662655e+09,6.032514e+09,NaN,Individual Contributor,Female,Heterosexual,...,Charlotte,Single,Full Time,54835,2017-10-28,NaN,63,NaN,NaN,1

In [7]:
df['sexual_orientation'].unique()

array(['Heterosexual', 'Other', 'Gay', 'Lesbian', 'Bisexual'],
      dtype=object)

In [8]:
df.isnull().sum()

employee_id                0
department                 0
sub-department             0
first_level_manager      125
second_level_manager     571
third_level_manager     1324
fourth_level_manager    4831
job_level                  0
gender                     0
sexual_orientation         0
race                       0
age                        0
education                  0
location                   0
location_city              0
marital_status             0
employment_status          0
salary                     0
hire_date                  0
term_date               3980
tenure                     0
term_type               3980
term_reason             3980
active_status              0
dtype: int64

In [9]:
df['term_reason'].unique()

array([nan, 'Found a better opportunity', 'Career change', 'Performance',
       'Better salary', 'More flexible benefits', 'Personal reasons',
       'Termination for cause', 'Relocation', 'Company restructuring',
       'Budget cuts'], dtype=object)

In [10]:
df['term_type'].unique()

array([nan, 'Voluntary', 'Involuntary'], dtype=object)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4831 entries, 0 to 4830
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   employee_id           4831 non-null   int64
 1   department            4831 non-null   object
 2   sub-department        4831 non-null   object
 3   first_level_manager   4706 non-null   float64
 4   second_level_manager  4260 non-null   float64
 5   third_level_manager   3507 non-null   float64
 6   fourth_level_manager  0 non-null      float64
 7   job_level             4831 non-null   object
 8   gender                4831 non-null   object
 9   sexual_orientation    4831 non-null   object
 10  race                  4831 non-null   object
 11  age                   4831 non-null   int64
 12  education             4831 non-null   object
 13  location              4831 non-null   object
 14  location_city         4831 non-null   object
 15  marital_status        4831 non-null   object
 16  employment_status     4831 non-null   object
 17  salary                4831 non-null   int64
 18  hire_date             4831 non-null   object
 19  term_date             851 non-null    object
 20  tenure                4831 non-null   int64
 21  term_type             851 non-null    object
 22  term_reason           851 non-null    object
 23  active_status         4831 non-null   int64
dtypes: float64(4), int64(5), object(15)
memory usage: 905.9+ KB

In [12]:
df['term_date']=pd.to_datetime(df['term_date'])
df['hire_date']=pd.to_datetime(df['hire_date'])

In [13]:
df.to_csv("People_Analytics_1_cleaned",index=False)